<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> password strength meter </title>
    <h1> Think your password is weak? want to check the difficulty of cracking your password?</h1>
    <p> kindly provide your password and check whether it is strong, weak  or average</p>
    <form action=result method ='POST'> 
    {% csrf_token %}
    <input type="password" name="password" placeholder='Enter your password here'>
    <input type='submit' value ='submit'  onClick="aonclick()">
    </form>
</head>
<body>
    
</body>
</html>

<style>
body {
    text-align:center;
}


</style>
<script>
function aonclick(){
    document.location.href="result";
}
</script>